@model ChangePasswordModel

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}



<div class="frame">
    <div class="container">
        <p class="p-login">Ingrese el token y su nueva clave:</p>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(model => model.password)
                @Html.TextBoxFor(model => model.password, new { @class = "form-styling" })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.token)
                @Html.PasswordFor(model => model.token, new { @class = "form-styling" })
                @Html.ValidationMessageFor(model => model.token, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-signup ">Cambiar clave</button>

        }
    </div>
</div>