@model List<PagoModel>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<

@if (ViewBag.Error != null)
{
    <p>Error: @ViewBag.Error</p>
}
else
{
    <h1>Estado de cuenta</h1>

    <h2>Servicio: @ViewBag.Message</h2>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Valor</th>
                    <th>Estado</th>
                    <th>Nombre del Servicio</th>
                    <th>Nombre del Consumidor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pago in Model)
                {
                    <tr>
                        <td>@pago.Id</td>
                        <td>@pago.valor</td>
                        <td>
                            @switch (pago.statusPago)
                            {
                                case UCABPagaloTodoWeb.enums.StatusPago.aceptado:
                                    @: Aceptado
                                    break;
                                case UCABPagaloTodoWeb.enums.StatusPago.rechazado:
                                    @: Rechazado
                                    break;
                                case UCABPagaloTodoWeb.enums.StatusPago.enEspera:
                                    @: En Espera
                                    break;
                                default:
                                    @: Desconocido
                                    break;
                            }
                        </td>
                        <td>@pago.NombreServicio</td>
                        <td>@pago.NombreConsumidor</td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
